<div class="row">
  <div class="col-6 offset-3">
    <p class="display-4 text-center">Login Form</p>
    <form #loginForm="ngForm">
      <!-- Username field -->
      <div class="form-group">
        <label for="username">Username : </label>
        <input type="text" class="form-control" name="username" required email ngModel>
      </div>
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password : </label>
        <input type="password" name="password" class="form-control" required minlength="6" ngModel>
      </div>
      <!-- Buttons [Login, Reset]-->
      <br>
      <div class="form-group">
        <div class="row">
          <div class="col-6 d-grid gap-1">
            <button class="btn btn-success btn-sm" (click)="onLogin(loginForm)" >Login</button>
          </div>
          <div class="col-6 d-grid gap-1">
            <button class="btn btn-warning btn-sm btn-block" type="button">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
