<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-header">
        <p class="display-4 text-center">
          Registration Form
        </p>
      </div>
      <div class="card-body">
        <form>
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email">
          </div>
          <!-- Password -->
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control">
          <br>
          <!-- Buttons -->
          <div class="row">
            <div class="col-6 d-grid gap-1">
              <button class="btn btn-primary btn-block btn-sm">Register</button>
            </div>
            <div class="col-6 d-grid gap-1">
              <button class="btn btn-warning btn-block btn-sm">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
