<div class="container">
  <h2>App Component Loaded....</h2>
  <!-- <button class="btn btn-warning"
    (click)="showComp = !showComp">Toggle Comp</button>

  <app-life-cycle-demo *ngIf="showComp"
    [title]="appTitle"></app-life-cycle-demo> -->

    <!-- <app-directive-demo></app-directive-demo> -->

    <!-- <app-pipe-demo></app-pipe-demo> -->

    <!-- <app-login></app-login> -->

    <!-- <app-register></app-register> -->

    <app-observable-demo></app-observable-demo>

  <app-users [title]="appTitle"></app-users>
</div>
